body {
  font-family: Avenir;
}

.buttonModal {
  background-color: #FF6288;
  border: none;
  border-radius: 20px;
  border-color: #DEDEDE;
  width: 140px;
  height: 40px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin-bottom: 48px;
  font-weight: bolder;
  box-shadow: 7px 7px 8px #CEC8C8;
}

.siteSearch {
    // width: 65%;
    // padding-left: 300px;
    opacity: 0.9;
}

.essential-dropdown {
border: none;
background-color: white;
width: 307px;
}

.location-search {
    height: 40px;
}

.card {
    border: none;
    box-shadow: 7px 7px 8px #CEC8C8;
}

.card:hover {
    box-shadow: 7px 7px 8px #FF6288;
}

.card-link {
    color: black;
}

.card-link:hover {
    color: #FF6288;
}

// .ladies {
//     border:none !important;
// }

.ladies:hover {
    color: #FF6288;
}

.coaFooter {
    font-weight:medium;
    background: linear-gradient(270deg, #ff6288, #1777f2);
    background-size: 400% 400%;

    animation: AnimationName 25s ease infinite;

    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.aboutUs {
    margin-top: 56px;
}

.btnFooter {
  border: none;
  border-radius: 20px;
  border-color: #DEDEDE;
//   font-size: 12px;
//   font-weight: bold;
}

.trendingH3 {
    font-weight: normal;
}

// .signUpLogo {
//     margin-top: 40px;
//     text-align: left;
// }

// .signUpH1 {
//     text-align: left;
// }