body {
  font-family: Avenir;
}

.buttonModal {
  margin-top: 12px;
    background: linear-gradient(270deg, #ff6288, #1777f2);
    background-size: 400% 400%;

        animation: AnimationName 25s ease infinite;

        @keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
}
  border: none;
  border-radius: 20px;
  border:none;
  width: 140px;
  height: 40px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20%;
  z-index: 5;
  margin-bottom: 48px;
  margin-left: 64px;
  font-weight: bolder;
  box-shadow: 7px 7px 8px #CEC8C8;
}

.image-preview {
   width: 10px;
    // max-height: 70px;
}

.siteSearch {
    // width: 65%;
    // padding-left: 300px;
    opacity: 0.9;
}

.essential-dropdown {
border: none;
background-color: white;
width: 307px;
}

.location-search {
    height: 40px;
}

.card {
    border: none;
    box-shadow: 7px 7px 8px #CEC8C8;
}

.card:hover {
    box-shadow: 7px 7px 8px #FF6288;
}

.card-link {
    color: black;
}

.card-link:hover {
    color: #FF6288;
}

// .ladies {
//     border:none !important;
// }

.ladies:hover {
    color: #FF6288;
}

.coaFooter {
    font-weight:medium;
    background: linear-gradient(270deg, #ff6288, #1777f2);
    background-size: 400% 400%;

    animation: AnimationName 25s ease infinite;

    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    position: sticky;
}

.aboutUs {
    margin-top: 56px;
}

.btnFooter {
  border: none;
  border-radius: 20px;
  border-color: #DEDEDE;
//   font-size: 12px;
//   font-weight: bold;
}

.trendingH3 {
    font-weight: normal;
}

.resultsSearch {
    margin-top: 12px;
    background: linear-gradient(270deg, #ff6288, #1777f2);
    background-size: 400% 400%;

        animation: AnimationName 25s ease infinite;

        @keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
}
    position: sticky;
    top: 10px;
    z-index: 1;
}

.modal {
    border:none;
    // width: 1000px;
}

.modalTitle{
    display: inline-block;
    margin-left: 56px;
}

.modalSave {
    border-radius: 20px;
    width: 140px;
    background: #ff6288;
    border: none;
}

.modalClose {
    display:none;
}


// #resultsSearch {
//     position: sticky;
//     top: inherit;
// }

// #items {
//     // padding-top: 32px;
//     display: flex;
// }

.navSignUp {
    color: black;
    text-decoration: underline;
    background: none;
    border: none;

}
.navSignUp:hover {
    color: #FF6288;
    text-decoration: underline;
    background-color: white;

}

// .navbar {
// background: linear-gradient(270deg, #ff6288, #1777f2);
//     background-size: 400% 400%;

//     animation: AnimationName 25s ease infinite;

//     @keyframes AnimationName {
//         0%{background-position:0% 50%}
//         50%{background-position:100% 50%}
//         100%{background-position:0% 50%}
//     }
// }
// .signInDiv {
//     display: block;
//     align-items: center;
//     justify-content: center;
// }