.loginContainer {
    min-height: 89%;
    padding-top: 100px;
    padding-left: 300px;
    background-image: url("../img/tpmask.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
  border-radius: 0px;
  border: none;
 
}

#logo {
    padding-left: -100px;
}